.table-container {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
  bottom: 10px;
  
}

.table-container th,
.table-container td {
  padding: 8px;
  border: 1px solid #ccc;
}

.table-container thead {
  background-color: #194759;
}

.table-container tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container tbody tr:hover {
  background-color: #7EBFB3;
}

