.profile-container{
    display: flex;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: flex-end;
    justify-content: space-between;
    width: 100vw;
}
.eval-button{
    background-color:  #194759;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    align-self: center;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    margin-left: 180px;
  }